<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<!-- <h1>Welcome to Alisha's Restaurant App</h2>

	<h3>Would you like to see our <a href="/foods">food</a>?</h3>

	<h3>Would you like to add <a href="/parties">a party</a>?</h3> -->
	
	<%= yield %>
</body>
</html>